.theme_dark {
  --bg-color: #14161A;
  --bg-header: #181A1F;
  --bg-schecdule-card: #1F222A;
  --bg-schecdule-card-active: #9CB5F5;
  --bg-schecdule-card-tab-active: #697EB7;
  --bg-schecdule-card-field: #262A35;
  --bg-schecdule-card-field-active: #5C4EFE;

  --color-purple: #5C4EFE;
  --color-green: #A5F59C;
  --color-red: #FF5353;
  --color-grey: #5E6173;

  --text-color: #F3F3F3;
  --text-color-another: #5E6173;
}