.theme_light {
  --bg-header: #FFFFFF;
  --bg-schecdule-slider: #F6FAFF;
  --bg-rings-schedule: #F6FAFF;
  --bg-rings: #fff;
  --bg-ring: #fff;
  --bg-schecdule-card: #fff;
  --bg-notif-header: #fff;
  --bg-notif: #F6FAFF;
  --bg-tumbler-cirlce: #fff;
  --bg-note: #fff;
  --bg-notif-icon: #F3F3F3;

  --notif-icon: #D2D4D8;

  --tabber-color: #D2D4D8;

  --border-note: #D3D3D3;

  --time-stripe: #F3F3F3;

  --text-color: #14161A;

  --btn-text-color: #FFFFFF;

  --color-green: #4DCF79;

  --bg-info-columns: "";

  --stripe-color: #F3F3F3;
}