.theme_light {
  --bg-color: #F6FAFF;
  --bg-header: #FFFFFF;
  --bg-schecdule-card: #FFFFFF;
  --bg-schecdule-card-active: #6B95FF;
  --bg-schecdule-card-tab-active: #4F6193;
  --bg-schecdule-card-field: #D2D4D8;
  --bg-schecdule-card-field-active: #D2D4D8;

  --color-purple: #5C4EFE;
  --color-green: #4DCF79;
  --color-red: #FF5353;
  --color-grey: #5E6173;

  --text-color: #14161A;
  --text-color-another: #5E6173;
}