@font-face {
  font-family: "SF Pro Display";
  font-weight: 100;
  src: url("../../../../assets/fonts/sf-pro-display/SF-Pro-Display-Thin.otf");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("../../../../assets/fonts/sf-pro-display/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("../../../../assets/fonts/sf-pro-display/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  src: url("../../../../assets/fonts/sf-pro-display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url("../../../../assets/fonts/sf-pro-display/SF-Pro-Display-Bold.otf");
}