.notif-pop-up__repeater {
  width: 100%;

}
.notif-pop-up__repeater-container {
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notif-pop-up__repeater-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.notif-pop-up__repeater-icon {
  font-family: 'Custom';
  font-size: 20px;

  color: var(--text-color);

  &:before {
    content: '\e917';
  }
}
.notif-pop-up__repeater-text {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100.34%;

  letter-spacing: -0.3px;

  color: var(--text-color);
}