.btn-ui {
  width: auto;

  padding: 10px 20px;

  background: var(--color-green);

  border-radius: 6px;
  border: none;
}
.btn-ui__container {

}
.btn-ui__btn {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;

  color: #181A1F;
}