.tumbler-ui {
  position: relative;

  width: auto;
  height: 100%;
}
.tumbler-ui__tumbler {
  position: relative;

  width: 31px;
  height: 16px;

  background: #3b3f53;

  border-radius: 20px;

  transition: all .3s linear;
}
.tumbler-ui__tumbler_active {
  background: var(--color-purple);
}
.tumbler-ui__circle {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translate(0, -50%);

  width: 9px;
  height: 9px;

  border-radius: 50%;

  background: var(--bg-tumbler-cirlce);

  transition: all .3s ease-in-out;

  inset-inline-start: 2px;
}
.tumbler-ui__circle_active {
  inset-inline-start: calc(100% - 9px - 3px);
}