.break-time {
  text-align: center;

  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100.34%;

  letter-spacing: -0.3px;

  color: #5C4EFE;
}