.notif-pop-up__notification {

}
.notif-pop-up__notification-container {

}
.notif-pop-up__notif-switcher {
  padding: 0 5px;
}
.notif-pop-up__notification-data {
  padding-top: 20px;
  padding-bottom: 20px;

  transition: all .3s linear;
}