.tabpen__tab_left {
  left: 0;

  background: var(--bg-schecdule-card);
}
.tabpen__tab_right {
  right: 0;

  background: #262A35;
}

.tabpen__tab_lower {
  z-index: 0;
}
.tabpen__tab_upper {
  z-index: 1;
}