.rings-schedule {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 2;

  transition: background-color .3s linear
}
.rings-schedule_open {
  background: rgba(0, 0, 0, 0.5);
}
.rings-schedule_close {
  background-color: unset;
}