.weekend {
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.weekend__title {
  width: auto;

  padding: 40px 60px;

  text-align: center;
}
.weekend__title h2 {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;


  color: #5E6173;
}