.schedule-day {
  position: relative;

  width: auto;


}
.schedule-day__stripe {
  position: absolute;
  top: 0;
  left: 20%;

  transform: translate(0, 20px);

  width: 2px;
  height: calc(100% - 200px - 20px);

  background: var(--stripe-color);

  border-radius: 10px;
}
.schedule-day__container {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;

  gap: 20px;

  padding: 20px 20px 200px;
}