.current-date {
  position: relative;

  width: 100%;

  z-index: 1;
}

.current-date__container {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;

  z-index: 1;
}

.current-date__container_left_offset {
  transform: translate(22%, 0);
}

.current-date__day {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: var(--text-color);
}

.current-date__remain-date {
  display: flex;
  flex-direction: column;
}

.current-date__weekday,
.current-date__month,
.current-date__year {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;

  color: var(--text-color-another);
}

.current-date__weekday {

}

.current-date__month-year {
  display: flex;
  gap: 5px;
}

.current-date__month {

}

.current-date__year {

}

.test {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translate(0, 10px);

  //height: 0 !important;
  //overflow: hidden;

  pointer-events: none;

  .ant-picker {
    z-index: -1;

    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    //backface-visibility: hidden;
    pointer-events: none;
    //font-size: 0 !important;
  }
}