.day {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.day__time {
  display: flex;
  flex-direction: column;
  align-items: end;

  gap: 2px;
}

.day__start-time,
.day__end-time {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.day__start-time {

  color: var(--text-color);
}

.day__end-time {
  font-size: 13px;
  font-weight: 400;

  color: var(--text-color-another);
}